<navbar class="navbars"></navbar>
<div class="displayOnDesktop">
    <h1>Preschool Musical</h1>
    <real-navbar class="real-navbar"></real-navbar>
</div>

<div class="container page">
    <h2 class="navbar_clear">What is Preschool Musical?</h2>
    <div class="textbox">
        <p>Preschool Musical is a fun, whimsical school located in Utah County that specializes in reading, writing, and music. Our curriculum teaches phonics to the tune of catchy songs, which puts our students ahead of their peers and pushes the boundaries of pre-k education!</p>
        
        <h2>Our staff:</h2>
        <div class="row">
            <div class="col s4"><img class="about circle" src="../style/images/sandra.jpg"><br/>Sandra</div>
            <div class="col s4"><img class="about circle" src="../style/images/merille.jpg"><br/>Merillee</div>
            <div class="col s4"><img class="about circle" src="../style/images/breeann.jpg"><br/>BreeAnn</div>
        </div>
    
        <p>Interested? Call us to set up a tour! <a class="cell" href="tel://1-801-787-4122">801-787-4122</a></p>
    </div>    
</div>