<navbar class="navbars"></navbar>
<div class="displayOnDesktop">
    <h1>Preschool Musical</h1>
    <real-navbar class="real-navbar"></real-navbar>
</div>
<div class="container">
    <h2 class="navbar_clear">Head of Admissions:</h2>
    <div class="valign-wrapper">
        <img src="../style/images/sandra.jpg" class="left circle">
        <div class="valign">
            Sandra Houghton<br/>
            Cell: <a class="cell" href="tel://1-801-787-4122">801-787-4122</a>
        </div>
    
    </div>
    <p class="textbox">
        Questions? Comments?<br/>
        Email us at <a class="email" href="mailto:preschoolmusical.rsl@gmail.com">preschoolmusical.rsl@gmail.com</a><br/>
        Click the email above to open in your email client!
    </p>
    
    
</div>